*{margin: 0;
padding: 0;
box-sizing: border-box;
}
table{border: 5px solid green;
    font-size: 80px;
    color: aliceblue;
    justify-content: center;
}
body{background-color: rgb(71, 75, 78);
    margin: 30px 100px 0 100px  ;
}

h1{color: blueviolet;
background-color: rgb(204, 98, 59);
display: flex;
justify-content: center;
font-size: 100px;}

td{ border: 1px solid salmon;
background-color: rgb(156, 236, 7);}

a{font-size: 50px;
display: flex;
text-decoration: none;
color: aqua;
}
ol{font-size: 30px;
color: aquamarine;}